.navbar-brand a {
    text-decoration: none;
    color: orangered;
}

.nav-link a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
}

.active {
    color: orangered !important;
}